# Banco de Dados (PostgreSQL)
POSTGRES_USER=usuario_dev
POSTGRES_PASSWORD=senha_dev
POSTGRES_DB=banco_dev
DATABASE_URL=postgresql+asyncpg://usuario_dev:senha_dev@db:5432/banco_dev

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
# API (FastAPI)
PORT=8000

# Inteligência Artificial
GEMINI_API_KEY=cole_sua_chave_aqui
